@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 3rem;
}

h1, h2, h3, h4 {
    font-family: 'Baloo Da 2', cursive;
}

html {
    scroll-behavior: smooth;
}

a {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-size: 1.5rem;
    color: #3E5990;
    font-family: 'Quicksand', sans-serif;
}

/* Menu punkter */

header {
    background-color: #F2F2DD;
    position: fixed;
    width: 100%;
}

.filler {
    height: 80px;
}

#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mylinks {
    display: flex;
    margin: 0;
    padding: 0;
}


.mylinks li a {
    color: #3E5990;
    display: block;
    font-size: 1.3rem;
    margin: 0;
    padding: 1rem;
}

.mylinks li a {
    transition: ease-in-out 0.4s;
}

#brand-logo {
    padding-left: 1.5rem;
    padding-top: 0.8rem;
}

.mylinks li:hover {
    font-weight: bold;
    text-decoration: underline;
}

/*burger menu*/

.toggle-button{
    position: absolute;
    top: .8rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;
  }
  .toggle-button .bar{
    height: 0.4rem;
    width: 100%;
    background-color: #3E5990;
    border-radius:10px;
  }



  /*FORSIDE*/

  /* Forside billede og tekst */

  #forside-billede {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/baggrundpasta.png);
    background-size: 100%;
    width: 100%;
  }

  h1 {
    font-size: 3.2rem;
    color: #3E5990;
    text-align: center;
    padding-top: 1rem;
    
  }

  h2 {
    color: #E9A85D;
    text-align: center;
    padding-top: 1rem;
  }



/*afsnit med forskellige pasta former, forside */

main {
    display: flex;
    flex-direction: column;
    background-color: #F2F2DD;
  }

  #pasta-former {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFEDD3;
    padding-bottom: 3rem;
  }

  #pasta-tegning {
    text-align: center;
  }


  #pasta-former p {
   padding: 3rem;
   color: #3E5990;
  }

  .pasta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pasta a {
    font-size: 1.5rem;
    color: #3E5990;
    border: 2px solid #7CAFCB;
    border-radius: 50px;
    padding: 0rem 2rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  .pasta a:hover {
    background-color: #3E5990;
    color: #F2F2DD;
    border: 2px solid #3E5990;
    transition: ease-in-out 0.4s;
  }


  /*Afsnit med certificerede mærkninger*/

#marks {
    width: 100%;
    background-color: #4C5E4A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}


#marks h3 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    color: #F2F2DD;
}

#marks a {
    border-radius: 50px;
    padding: 0.5rem 2rem;
    color: #F2F2DD;
    margin-top: 5rem;
    border: 3px solid #F2F2DD;
    font-size: 1.5rem;
}

#marks a:hover {
    color: #F2F2DD;
    background-color: #7CAFCB;
    border: 3px solid #4C5E4A;
    transition: ease-in-out 0.4s;
}

.marks-logos img {
    padding: 0.5rem;
}

.marks-logos {
    text-align: center;
}

#second-marks img {
    margin: 0.5rem;
}

/* Nyhedsbrev */ 

#nyhed {
    margin: 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    background-color: #E9A85D;
    border: 2px solid #E9A85D;
    border-radius: 20px;
    width: 400px
}

.nyhed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nyhed h3 {
    background-color: #E9A85D;
    color: #4C5E4A;
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

.newsletter {
    background-color: #E9A85D;
}

#email-input {
    border: 2px solid #4C5E4A;
    border-radius: 50px;
    padding: 0rem 4rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    background-color: #F2F2DD;
}

#nyhed button {
    color: #4C5E4A;
    border: 2px solid #4C5E4A;
    border-radius: 50px;
    margin: auto;
    padding: 0rem 7.5rem;
    background-color: #F2F2DD;
    font-size: 1.2rem;
}

#nyhed button:hover {
    background-color: #4C5E4A;
    color: #F2F2DD;
    transition: ease-in-out 0.4s;
}



/* Pasta indpakning */ 

#indpakning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#indpakning p {
    padding: 3rem;
}


/*totebag afsnit */ 

#totebags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #EFEDD3;
    padding-top: 3rem;
}

#totebags p {
    padding: 3rem;
}

#totebags img {
    padding: 3rem 3rem 0rem 3rem;
}


/*Footer*/

footer {
    background-color: #3E5990;
}

#kontakt p {
     color: #F2F2DD;
     font-size: 2rem;
}

#kontakt a {
    color: #F2F2DD;
    display: flex;
    line-height: 2rem;
}

.some-kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

#logo-footer {
    text-align: center;
    padding: 2rem 3rem 1rem 3rem;
}

#some, #kontakt {
    margin: 0rem 2rem;
    text-align: center;
}

#some {
    padding-top: 3rem;
}

#some img {
    padding: 0.1rem;
}

#kontakt a {
    justify-content: center;
    font-size: 1.2rem;
}

#some p {
    color: #F2F2DD;
    font-size: 2rem;
}

#kontakt a:hover {
    font-weight: bold;
    font-size: 1.5rem;
    transition: ease-in-out 0.4s;
}

#some a img:hover {
    width: 3rem;
    transition: ease-in-out 0.4s;
}






/*PRODUKTER SIDE */

.kategorier {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    background-image: url("/images/baggrundpasta.png");
    background-size: 200vh;
    background-repeat: no-repeat;
}

.kategorier a{
    color: #3E5990;
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.kategorier a:hover {
    font-weight: bold;
    transition: ease-in-out 0.4s;
}

.grid-container img {
    width: 10rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    grid-row-gap: 5rem;
    margin-top: 9rem;
}

.grid-container p {
    text-align: center;
}

.grid-container a img:hover {
    width: 12rem;
    transition: ease-in-out 0.4s;
}

.high img {
    width: 8.5rem;
}

/* Totebag sektion */


#totes {
    margin-top: 9rem;
    background-color: #EFEDD3;
}

#totes p:first-of-type {
    margin: 1rem 3rem;
}

#grid-totes {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    text-align: center;
    margin: 0rem 2rem;
}


.totes-individual p {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

#grid-totes img:hover {
    width: 14rem;
    transition: ease-in-out 0.4s;
}

/*OPSKRIFT MAIN SIDE*/ 

.indledning-opskrifter {
    margin: 3rem;
    background-image: url("/images/baggrundpasta.png");
    background-size: 200vh;
    background-repeat: no-repeat;
}

#dishes-grid {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
}

.pasta-dishes {
    padding-bottom: 2rem;
}

#dishes-grid p{
    font-size: 1.5rem;
}

.pasta-dishes p:first-of-type {
    font-weight: bold;
}

.material-symbols-outlined {
    padding-top: 0.7rem;
    color: #E9A85D;
}
.ur {
    display: flex;
    justify-content: center;
}

.ur p:first-of-type {
    font-weight: lighter;
}

#dishes-grid a img:hover {
    width: 30rem;
    transition: ease 0.4s;
}


/*OPSKRIFTER */ 

.opskrift.overskrift-opskrift,.opskrift-billede {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

.baggrund {
    background-image: url(/images/baggrundpasta.png);
    background-size: 200vh;
    background-repeat: no-repeat;
}

.opskrift-billede {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.opskrift h4 {
    color: #3E5990;
    margin: 1rem 3rem;
}

.opskrift h4 {
    font-size: 1.5rem;
}

.overskrift-opskrift h3 {
    font-size: 2rem;
    text-align: center;
    color: #3E5990;
}

.overskrift-opskrift p {
    text-align: center;
}

.overskrift-opskrift span {
    font-size: 2rem;
}

.how-to p{
    margin: 1rem 3rem;
}

.how-to {
    margin-top: 3rem;
}

.ingredienser {
    margin: 2rem 3rem;
}

.ingredienser h4 {
    margin: 1rem 0rem;
}

.ingredienser h5 {
    font-size: 1.3rem;
    color: #3E5990;
}

.ingredienser h5:last-of-type {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.how-to h5 {
    font-size: 1.3rem;
    color: #3E5990;
    margin: 2rem 3rem 0rem 3rem;
}

/*PASTA BESKRIVELSER*/

.pasta-indhold {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.se-opskrift {
    margin-bottom: 5rem;
}

.se-opskrift a {
    font-size: 1.5rem;
    color: #4C5E4A;
    border: 2px solid #4C5E4A;
    border-radius: 50px;
    padding: 0.2rem 2rem;
    margin: 3rem;
}

.se-opskrift a:hover {
    background-color: #4C5E4A;
    color: #F2F2DD;
    transition: ease-in-out 0.4s;
}

.beskrivelse p {
    margin: 3rem;
}



/* KONTAKT SIDE */ 

#kontakt-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/baggrundpasta.png);
    background-size: 200vh;
    background-repeat: no-repeat;
}

#kontakt-page p:first-of-type {
    margin: 3rem
}

#mail-tlf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border: 2px solid #7CAFCB;
    border-radius: 10px;
    padding: 2rem 3rem;
}

#mail-tlf a {
    color: #3E5990;
    font-size: 1.2rem;
}

#mail-tlf a:hover {
    font-weight: bold;
    font-size: 1.2rem;
    transition: ease-in-out 0.4s;
}



/*Om os side*/ 

#om-os {
    display: flex;
    flex-direction: column;
}

#om-os h3 {
    font-size: 3rem;
    color: #3E5990;
    padding-bottom: 1rem;
}

.uk-historie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.uk-historie img {
    margin-top: 2rem;
}

.abbraccio-pasta {
    background-color: #EFEDD3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abbraccio-pasta h3{
    margin: 2rem 3rem 0rem 3rem;
}

.abbraccio-pasta p {
    margin: 0rem 3rem;
}

.shop img {
    margin: 3rem 3rem 5rem 3rem;
}



.forhandlere {
    display: flex;
    flex-direction: column;
    background-image: url(/images/baggrundpasta.png);
    background-size: 200vh;
    background-repeat: no-repeat;
    height: 30vh;
    margin-bottom: 3rem;
}

.forhandlere p {
    margin: 0rem 3rem 2rem 3rem;
}

.forhandlere h3 {
    margin: 3rem 3rem 0rem 3rem;
}

/* Responsive burger menu og menupunkter under 600px skærmstørrelse */

@media (max-width:750px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
    }

    .mylinks {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    #topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    .mylinks li {
        text-align: center;
    }

    .mylinks.active {
        display: flex;
    }

    .mylinks li a {
        padding: 0rem;
        background-color: #EFEDD3
    }

    .mylinks li a:hover {
        background-color: #E9A85D;
        font-weight: bold;
    }

    .mylinks li:hover {
        text-decoration: none;
    }

   

    /* Burgermenu til kryds
    .toggle-button.active .nav-link:nth-child(2) {
        opacity: 0;
    }

    .toggle-button.active .nav-link:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-button.active .nav-link:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    */
  }

  /* Responsive: Breakpoint ved skærmstørrelser over 715px  */

  @media screen and (min-width:715px) {
    #forside-billede section{
        display: flex;
        /* flex-direction: row; */
    }

    .inner {
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
        margin-left: 3rem;
    }

    #pasta-former {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .pasta img {
        margin: 3rem 2rem 0rem 0rem;
    }


    .some-kontakt {
        display: flex;
        flex-direction: row;
    }

    #some {
        padding: 0;
    }

    #hvede-start {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
   }

   #glutenfri-produkter {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    }

    .fremgang {
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 3rem;
        padding:0;
    }

    .ingredienser {
        padding-top: 1rem;
    }

    #dishes-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #dishes-grid img {
        margin: 2rem;
    }
     
    .indledning-opskrifter p{
        font-size: 2rem;
        text-align: center;
    }

    #grid-totes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #grid-totes img {
        margin: 2rem;
    }

    p {
        text-align: center;
    }

    h3 {
        text-align: center;
    }


    .abbraccio-pasta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #totebags img {
        height: 20rem;
    }

    #indpakning img {
        height: 40rem;
    }
    }
  

    @media screen and (min-width:951px) {
        #indpakning section{
            display: flex;
            flex-direction: row;
        }
    
        #indpakning {
            padding-top: 3rem;
        }
    
        #indpakning p {
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
        }

        #totebags section{
            display: flex;
            flex-direction: row;
            margin-bottom: 5rem;
        }

        .uk-historie {
            display: flex;
            flex-direction: row;
        }
    
        .uk-historie p {
            margin-right: 3rem
        }
        .pasta-indhold {
            display: flex;
            flex-direction: row;
        }

        .se-opskrift {
            text-align: center;
        }

        .pasta-indhold img {
            width: 25rem;
        }

        #nyhed {
            width: 500px;
        }

        .shop img {
            width: 50rem;
        }

    }

    @media screen and (min-width:1149px) {
        h1{
            font-size: 5rem;
        }
        h2 {
            font-size: 2.5rem;
        }

        #hvede-start {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }

        #glutenfri-produkter {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            }

        #nyhed {
            width: 700px
        }
    }


    /*Billede størrelser*/ 

    #topnav img {
        width: 16rem;
    }

    .item img {
        width: 30rem;
    }

    .pasta img{
        width: 23rem;
    }

    #one, #three, #five {
        width: 6rem;
    }

    #two {
        width: 10rem;
    }

    #four {
        width: 6.5rem;
    }

    #six {
        width: 7rem;
    }


   #indpakning img {
    width: 30rem;
   }

   #totebags img {
    width: 30rem;
   }

   #some img {
    width: 2.5rem
   }

   .pasta-indhold img {
    width: 19rem;
   }

   .opskrift-billede img {
    width: 25rem;
   }

   .shop img {
    width: 20rem;
   }

   .pasta-dishes img {
    width: 25rem;
   }

   .totes-individual img {
    width: 12rem;
   }

   .icon1 {
    width: 15rem;
   }

   .icon2 {
    width: 3rem;
   }
